.title_1{
	margin-left: 19px;
	color: mediumblue;
	border-style: solid;
	border-color: limegreen;
	border-width: medium;
	border-radius: 5px;
	padding: 4px;
	padding-left: 20px;
}
ul{
	list-style: none;
}
nav ul{
	margin-left: 19px;
	padding-left: 0px;

}
.main{
	color: limegreen;
}
.blog{
	color: mediumblue;
}
.photos{
	color: mediumblue;
}
.html_photo{
	height: 300px;
	width: 500px;
	margin-left:;
}
.section_photo{
	margin-left: 19px;
}
.main_text{
	color: mediumblue;
	margin-left: 19px;
}
.main_text_div{
	padding-right: 250px;
}
.secondary_text{
	padding-bottom: 2px;
	color: mediumblue;
	margin-left: 19px;
	border-bottom: 4px solid mediumblue;
}
a{
	text-decoration: none;
}
.secondary_text_div{
	display: inline-block;
}